.env
.venv
exports/
cache/
*.png
dev-*
*.pyc
pandasai.log
.streamlit/secrets.toml
bamboo_api_key.txt
openai_key.txt
*.tsv
*.csv
*.log
groq_api_key.txt
temp/
*.html
*.json
.env
protype.py
seq.md
test.py
.DS_Store
*.pdf
generate_md_report.py
*.md
.venv*
outputs/*
smolagents_analysis.py
smolagents_data_analysis.py
test_chatbookmark.py
gpt_key.txt
groq_api.txt
generate_files/*
generate_files_0/*
generated_file/*
generated_files/*
user_config_openai.key
test_uploader.*
test_display_gxy.py
outputs_dir/*
outputs_smolagents_nicegui/*
!examples.json
__pycache__
.*key
