.env
.venv
exports/
cache/
*.png
dev-*
*.pyc
pandasai.log
.streamlit/secrets.toml
bamboo_api_key.txt
openai_key.txt
*.tsv
*.csv
*.log
groq_api_key.txt
*.html
*.json
.DS_Store
!test-data/*.csv
!test-data/*.tsv
!test-data/*.html
*.pdf
generate_md_report.py
*.md